{
    # Enable metrics
    metrics

    # Enable admin
    admin :2019

    log {
        output file /var/log/caddy/caddy_main.log {
            roll_size 100MiB
            roll_keep 5
            roll_keep_for 100d
        }
        format json
        level INFO
     }
}

:80 {
    root * /srv
    file_server

    log {
        output file /var/log/caddy/domain.com.log {
            roll_size 100MiB
            roll_keep 5
            roll_keep_for 100d
        }
        format json
        level INFO
     }
}

:81 {
    reverse_proxy grafana:3000
}